<body>

<%= yield %>
<h1> ASSIGNMENT2</h1>

<p><%= link_to "go to new page", "error"%><p>
<p><%= link_to "visit server ", "server"%></p>


          <td style="background-color:#EEEEEE;height:200px;width:400px;text-align:top;">
</td>

</body>
<td colspan="2" style="background-color:#FFA500;text-align:center;">
 Edwin Matera,  Student number : 201175812 </td>

</html>